@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
  font-family: "Muli" !important;
}
body{
  background-color: #ddd;
}
.btn-rounded{
  border-radius: 250px !important;
}
.bg-yellow{
  background-color : #e77e23 !important;
}
.bg-red{
  background-color: #d83c2d !important;
}
.bg-green{
  background-color: #078e41 !important;
}
.bg-blue-primary{
  background-color: #002f48 !important;
}
.bg-blue-light{
  background-color: #103f58 !important;
}
.bg-yellow:hover{
  background-color : #ff963b !important;
}
.bg-red:hover{
  background-color: #f05445 !important;
}
.bg-green:hover{
  background-color: #1fa659 !important;
}
.bg-blue-primary:hover{
  background-color: #204f68 !important;
}
.bg-blue-light:hover{
  background-color: #305f78 !important;
}
.letter-spacing{
  letter-spacing: 1pt !important;
}
.vertical-center-text{
  vertical-align: middle !important;
  margin: auto !important;
}
.btn-fixed{
  position: fixed !important;
}
.cursor-pointer{
  cursor: pointer !important;
}
.high-floater{
  z-index: 2500 !important;
}
@keyframes spin-ccw {
  from {transform:rotate(360deg);}
  to {transform:rotate(0deg);}
}
@keyframes spin-half-ccw {
  from {transform:rotate(180deg);}
  to {transform:rotate(0deg);}
}
@keyframes spin-cw {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
@keyframes spin-half-cw {
  from {transform:rotate(0deg);}
  to {transform:rotate(180deg);}
}